*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
Gemfile
Gemfile.lock
**/fastlane/Appfile
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/README.md
**/fastlane/screenshots
**/fastlane/test_output
